body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/*global Tags*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}

.button-1{
    color: white;
    background-color: #e8491d;
    padding-left: 15x;
    padding-right: 10px;
    border: none;
    height: 30px;
}

/*Header*/
header{

    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px #e8491d solid;
}

/*under header link tags(li tags)*/
header a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

/*under header li tags*/
header li{
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;

}

/*under heading branding tag(h1 tag)*/
header #branding{
    float:left;
}

header #branding h1{
    margin: 0;
    padding-left: 20px;
}

header #nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
}

/*showcase tags*/
#showcase{
    min-height: 500px;
    background: url('../images/showcase.avif') no-repeat 0 ;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

#showcase h1{
    font-size: 55px;
    margin-top: 90px;
}

#showcase p{
    font-size: 20px;
    line-height: 2.0em;
}

#newsletter{
    padding: 25px;
    color: #ffffff;
    background-color: #35424a;
}

#newsletter h1{
    float: left;
    padding: 0px 10px;
}

#newsletter form{
    float: right;
    padding: 0px 20px;
    padding-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25x;
    width: 250px;
}

/*Boxes tag*/
#boxes{
    
    margin-top: 40px;
    margin-right: 0px;
    /*margin-left: 100px;*/
}

#boxes .box{
    float: left;
    width: 40%;
    text-align: center;
    padding: 20px;

}

#boxes .box img{
    width: 100px;
}

#boxes .th1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 0;
   /* padding-right: 55px;*/
   padding-right: 0px;
}

#boxes p{
    font-size: 12px;
}

/*footer tags*/
#footer{
    padding-top: 20px;
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    border-top: 5px #e8491d solid;
}

#footer p{
    padding-bottom: 20px;
    font-size: 15px;
    
}

#footer .flogo{
    color: #e8491d;
    font-weight: bold;
}

/*about sec start here*/

aside#sidebar{
    float: right;
    width: 35%;
    margin: 10px;
}

article#asec-col{
    float: left;
    width: 60%;
    margin:10px;
}
article#asec-col .ap1{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
}

.dark .sp1{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
}

/*services tag start here*/
ul#services li {
list-style: none;
padding: 20px;
border: #cccccc solid 1px;
background-color: #e6e6e6;
}

aside#sidebar .quote{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
}

aside#sidebar .quote input , aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/*with this media query we can make our website look responsive*/

/*Media Query*/

@media(max-width: 768px){
    header #branding,
     header #nav, 
     header #nav li,
     #newsletter h1,
     #newsletter form,
     #boxes .box,
    article#asec-col,
    aside#sidebar
     {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top:30px
    }
    #newsletter .button-1, .quote .button-1{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 10px;
    }

}





